.footer {
  background: rgb(4, 0, 0);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  /* margin-top: 3rem; */
}

.footer-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.footer-text {
  color: #d1d5db;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  text-decoration: none;
  color: white;
  background: #1f2937;
  border-radius: 50%;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

.footer-icons a:hover {
  background: #2563eb;
  transform: translateY(-4px);
}