/* WRAPPER */
.two-column {
  display: flex;
  gap: 3rem;
  padding: 4rem 8%;
  background: #0f1c26;
  color: #fff;
}

/* LEFT */
.services {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 1.3rem;
}

/* RIGHT */
.about-section {
  flex: 1.2;
}
.about-section h2 {
  display: flex;
  color: white;
}

.about-text {
  max-width: 600px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.8);
  margin: 1.5rem 0;
}

.about-stats {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.stat h3 {
  font-size: 2rem;
  color: #ff8a65;
}

.stat span {
  font-size: 1.2rem;
}

.stat p {
  font-size: 0.9rem;
  opacity: 0.7;
}

.section-title {
  /* position: absolute; */
  background: #0f1c26;
  color: #fff;
}
.title-line{
  display: block;
  width: 3px;
  height: 75px;
  background: rgb(235, 60, 60);
  margin: 0px auto;
}
.dot1 {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: rgb(235, 60, 60);
  border-radius: 50%;
}
.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: rgb(43, 179, 197);
  border-radius: 50%;
}
.section-title h2 {
  margin-bottom: 1rem;
  color: #fff;
}
/* Responsive only */
@media (max-width: 768px) {
  .two-column {
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 5%;
  }

  .about-text {
    max-width: 100%;
  }

  .about-stats {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .two-column {
    padding: 3rem 1.5rem;
  }

  .about-stats {
    flex-direction: column;
    gap: 1.5rem;
  }

  .title-line {
    height: 60px;
  }
}